#root{
    display: block;
}

#content {
    display: inline-flex;
    min-height: 97vh;
    max-height: auto;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.sidebars {
    /* background-color: #BFBFB8; */
    width: 20%;
    height: auto;
}

.sidebar-right{
    text-align: right;
}

.cards{
    display: flex;
    flex-wrap:wrap;
    width: 70%;
    padding-top: 10px;
    justify-content:flex-start;
}

.card{
    width: 22%;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 10px;
}

.card img{
    width: 80%;
}

.points{
    font-size: 1.5rem;
}

.sidebar-left {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}