#root{
    display: block;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 10px;
}

.card{
    width: 15%;
    text-align: center;
    padding-bottom: 5px;
}

.card img{
    width: 80%;
}

.points{
    font-size: 1.5rem;
}

.sidebars{
    background-color: #BFBFB8;
    width: 8%;
    height: auto;
}
#content{
    display: flex;
    min-height: 95vh;
    max-height: auto;
}