.sidebars{
    background-color: #84847f;
    padding: 0 4px ;
    border-color: black;
  
}

.sidebarText{
    font-size: 1.7em;
}

@media (max-width:1900px){
    .sidebarText{
        font-size: 1.2em;
    }
}
